* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.dashboard{
    background-color: lightskyblue;

    grid-column: 1/2;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
}

.banner{
    background-color: white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.banner-search{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.banner-hithere{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.main-content{
    background-color: lightgray;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.larger{

}

.dashboard-header{

}

.dashboard-content{
    
}

.dashboard-item{

}

.dashboard-text{

}

.dashboard-logo{

}

.banner-search{
    
}

.searchbar{

}

.searchbar-bar{

}

.search-icon{

}

.topbar-rest{

}

.alert-icon{

}

.user-icon{

}

.general-text{

}

.banner-hithere{

}

.hithere-left-column{

}

.hithere-right-column{

}

.text-hithere{

}

.button-hithere{

}

.main-content{

}

.your-projects{

}

.project-card{

}

.project-card-data{

}

.project-card-title{

}

.project-card-text{

}

.project-card-icon{

}

.announcements{

}

.announcement-board{

}

.announcement-card{

}

.announcement-title{

}

.announcement-text{

}

.trending{

}

.trending-board{

}

.trending-card{

}

.trending-icon{

}

.trending-container{

}

.trending-username{

}

.trending-person-title{

}

